.botao {
    align-self: end;
    margin-bottom: 32px;
    margin-left: 12px;
}

.botao button {
    background-color: var(--azul-secundario);
    border-radius: 8px;
    font-weight: bold;
    font-size: 1em;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    margin: 0em 0;
}
.botao:disabled button {
    display: none;
}

.botao:hover button {
    color:#95FFD4;
}

