.section {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.section form {
    min-width: 50%;
    max-width: 80%;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 36px 64px;
    box-shadow: 10px 10
}

.formulario__input {
    display: flex;
    width: 100%;
    justify-content: space-around;
}